.root {
    background-color: var(--mantine-color-secondary-1);
    border: 1px solid var(--mantine-color-secondary-7);
    z-index: 1000;
}

.icon {
    background-color: transparent;
    width: 32px;
    height: 32px;
}

.body {

}

.title {
    color: var(--mantine-color-secondary-7);
}

.description {

}

.closeButton {

}


@media (hover: hover) {
    .closeButton:hover {
        background-color: var(--mantine-color-secondary-5);
        opacity: 0.5;
        color: var(--mantine-color-white);
    }
}